.news {
  padding: 120px 0 124px;
  background-color: $color-default-white;

  &__title {
    margin: 0 0 48px;
    font-family: $ff-secondary;
    font-size: 58px;
    font-weight: 700;
    line-height: 58px;
    color: $color-swamp;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 0 48px;
    padding: 0;
    list-style-type: none;
  }

  &__button {
    margin: 0 0 0 auto;
    color: $color-default-white;
    cursor: pointer;
  }
}