*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #a39d9d;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  min-height: 200px;
  margin: 0 auto;
}