.gallery-block {
  margin: 0 0 80px;

  @include vp-1023 {
    margin: 0 0 78px;
  }

  @include vp-767 {
    margin: 0 0 60px;
  }

  &__wrap {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 215px;
    gap: 20px;

    @include vp-1023 {
      grid-template-columns: calc(100vw - 60px - 180px - 28px) 180px;
      gap: 28px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 29px;
    }
  }

  &__btn {
    width: 100%;

    @include vp-1023 {
      width: calc(100vw - 60px);
    }

    @include vp-767 {
      position: relative;
      width: 100%;
    }
  }
}
