.error {
  display: none;
  position: absolute;
  left: 0;
  bottom: -21px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $color-error;
  pointer-events: none;
  user-select: none;
}