.order-form {
  display: grid;
  grid-template-columns: 700px 420px;
  gap: 0 80px;
  /* align-items: start; */
}

.order-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.order-form__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 39px 20px;
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__legend {
  margin: 0 0 40px;
  font-family: "Press Start 2P", "Arial", sans-serif;
  font-size: 24px;
  line-height: 100%;
}

.order-form__inner {
  display: flex;
  grid-column: span 2;
  gap: 12px;
}