// Default-colors
$color-default-white: #ffffff;
$color-default-black: #000000;

// Colors
$color-tangaroa: #152C39;
$color-whisper: #ECECEC;
$color-cinnabar: #E53624;
$color-chambray: #476178;

// Typography
$ff-main: "Inter", "Arial", sans-serif;
$ff-secondary: "Play", "Georgia", serif;

// Viewport

// Animation
$transition-300: ease-in 0.3s;